// site colors
$primary-color: #212832;
$primary-color-100: #181E4B;
$primary-color-200: #14183E;
$primary-color-300: #1E1D4C;
$primary-color-400: #5E6282;
$primary-color-500: #747DEF;
$primary-color-600: #5E3BE1;
$primary-color-700: #39425D;
$primary-color-800: #006380;
$primary-color-900: #8A79DF;
$primary-color-1000: #59B1E6;

$warning-color: #F1A501;
$warning-color-100: #F0BB1F;
$secondary-color: #84829A;
$secondary-color-100: #686D77;

// orange color
$orange-color: #DF6951;
$orange-color-100: #F15A2B;

// black color
$black-color: #000000;
$black-color-100: #00000054;
$black-color-200: #0000001A;
$black-color-300: #00000014;

// white color
$white-color: #FFFFFF;
$white-color-100: #F5F5F5;
$white-color-200: #DFD7F980;

// font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-dark: 900;