.site_btn{
    font-size: 18px;
    line-height: 28px;
    padding: 15px 26px;
    min-width: 170px;
    border-radius: 10px;
    font-weight: $fw-medium;
    border: 1px solid transparent;
}

.btn_primary{
    background-color: $warning-color;
    color: $white-color;
}

.btn_danger{
    background-color: $orange-color;
    color: $white-color;
}

.btn_outline{
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
}

.btn_link{
    border: none;
    background-color: transparent;
    color: $primary-color;
}

@media (max-width: 1199px){
    .site_btn {
        font-size: 16px;
        line-height: 26px;
        padding: 13px 20px;
        min-width: 160px; 
    }
}

@media (max-width: 991px){
    .site_btn {
        font-size: 15px;
        line-height: 25px;
        padding: 10px 18px;
        min-width: 145px;
    }
}

@media (max-width: 767px){
    .site_btn {
        font-size: 14px;
        line-height: 24px;
        padding: 8px 15px;
        min-width: 130px;
    }
}